{% extends "index.html" %}
{% block title_tag %}Login{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block css_tag %}<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">{% endblock %}

{% block body_content %}
<body>
    <div id="main">
        <div id="name">
            <h3> <strong>D</strong>aiki<strong>R</strong>oth<strong>A</strong>bhijit<strong>W</strong>enhao HomeWork.com</h3>
            <hr size="3" style="border-color:#cf1717" >
        </div>

        <div class=homeimage>
            <img src="{% static 'accounts/pic/drawHW.png' %}" alt="drawLogo">
        </div>

        <button id="signin" onclick="ClickSI()">SIGN IN</button> 
        <br><br>
        <a href="{% url 'accounts:signup' %}">
            <button id="signup" onclick="ClickSU()">SIGN UP</button>
        </a>

        <div id="footer">
            Copyright &copy; drawHW 2020
        </div> 
    </div>

    <div class="popSignIn">
        <div id="container">

            <div class="close" onclick="ClickSI()">+</div>
            <!--<div class="closeSU">+</div>-->

            <div id="logo" class="logoClass">
                <img src="{% static 'accounts/pic/drawHW.png' %}" >
            </div >

            <hr style="margin-top: auto; padding-top: auto;">

            <div id="loginbox">
                <h2 style="margin-top:0;">SIGN IN</h2>
                <form name="login" method="POST">
                    {% csrf_token %}

                    <input type="radio" name="account" value="student" id="student" checked> 
                    <label for="student">Student</label>
                    
                    <input type="radio" name="account" value="faculty" id="faculty">
                    <label for="faculty">Faculty</label> 

                    <br><br>

                    <p class="table">
                        <label for="username">USERNAME</label>
                        {% render_field form.username class+="inputBox" type="text" id="username" name="username" placeholder="Username" attr="required" %}
                    </p>
                    <p class="table">
                        <label for="password">PASSWORD</label>
                        {% render_field form.password class+="inputBox" type="password" name="password" id="password" placeholder="Password" attr="required" %}
                    </p>

                    <input type="submit" name="submit" id="submit" value="Sign In"> 
                    
                    <br><br>
                    
                </form>

                <button id="reset">Reset Password</button>  
            </div>
        </div> 
    </div>

    <div class="popForget">
        <div id="container">
            <div class="closeForget">+</div>

            <div id="logo" class="logoClass">
                <img src="{% static 'accounts/pic/drawHW.png' %}" >
            </div >
    
            <hr style="margin-top: 0; padding-top: 0;">
            <div id="loginbox">
                <h2 style="margin-top:0;">RESET PASSWORD</h2>
                <form name="forget" method="POST" action="{% url 'accounts:reset' %}">
                    {% csrf_token %}
                    
                    <br><br>
                    <h2>Click the button bellow and follow the instruction.</h2>
                    <br><br>

                    <input type="submit" name="submitF" id="submitF" value="Reset"> <br><br><br>
                </form>
             
            </div>
        </div> 
    </div>

    <div class="Clock"> 
        <script>
            function startTime() {
                var today = new Date();
                var year = today.getFullYear();
                var month = today.getMonth();
                var date = today.getDate();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                m = checkTime(m);
                s = checkTime(s);
                document.getElementById('txt').innerHTML = year + "-" + month + "-" + date + "  " + h + ":" + m + ":" + s;
                var t = setTimeout(startTime, 500);
                }
            function checkTime(i) {
                if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                return i;
                }  
        </script>
        <body onload="startTime()">
            <div id="txt"></div>
        </body>
    </div>
 
    {% block js_tag %}<script src="{% static 'accounts/functions.js' %}"></script>{% endblock %}
</body>
{% endblock %}
